<div class="container">
    <h1>Lista de compras</h1>

    <form #frm="ngForm" (ngSubmit)="adicionarItem()" class="add-item-form">
        <input type="text" id="item" placeholder="Digite o nome do item" name="item" [(ngModel)]="item">
        <button type="submit">Adicionar</button>
        
        <button type="button" (click)="limparLista()">Limpar Lista</button>

    </form>

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>item</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @for(elemento of lista; track elemento.id){
                <tr>
                    <td>{{ elemento.id }}</td>
                    <td><span [ngClass]="{ 'item-riscado' : elemento.comprado}">{{ elemento.nome}}</span></td>
                    <td><input type="checkbox" [checked]="elemento.comprado" (click)="riscarItem(elemento)"></td>
                </tr>
            } @empty {
                <tr colspan="3">
                    Nenhum item adicionado
                </tr>
            }

            <!--Podemos utiliza com o CommonModule ou utilizando promessas assima-->
           <!--
            <tr *ngFor="let elemento of lista">
                <td>{{ elemento.id }}</td>
                <td>
                    <span [ngClass]="{ 'item-riscado' : elemento.comprado}">
                        {{ elemento.nome}}
                    </span>
                </td>
                <td><input type="checkbox" [checked]="elemento.comprado" (click)="riscarItem(elemento)"></td>
            </tr>
            --> 
            
        </tbody>
    </table>
</div>